.time__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .date_time {
        display: flex;
        flex-direction: row;
        margin: 8px;

        p {
            margin: 0 5px;
        }
    }
}