.adult-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #D6EAF8;
}

.adult-center {
    padding: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center; 
    background-color: #fff;
}